.app-header {
  @include make-row;
  margin-bottom: 20px;
  .title-block {
    @include make-sm-column(6);
  }
  .title-block-links,
  .title-block-links:hover,
  .title-block-links:active  {
    display: block;
    color: $rise-green;
    i:before { color: $rise-green !important; }
  }
  h1 {
    font-weight: 400;
    line-height: 40px;
    margin: 0 5px 0 0;
    display: inline-block;
  }
  .btn-github {
    vertical-align: top;
    margin-top: 8px;
  }
  .global-actions {
    text-align: right;
    @include make-sm-column(6);
    .btn {
    }
  }
  .form-group {
    @include make-sm-column(12);
    margin-top: 10px; 
  }
  @media(max-width: $screen-sm){
    .global-actions {
      float:none;
      margin-top: 20px;
      .btn {
      width: 100%;
      margin: 0 0 10px 0;
      }
    }
  }
}
