.colorpicker-swatch {
  border: 1px solid #CCC;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.colorpicker-swatch span {
  height: 22px;
  width: 42px;
  display: block;
}
.btn-colorpicker {
  padding: 4px 12px 4px 4px;
}