.font-setting-button > div{
  width : 54px;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .font-setting { 
	  width:300px;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .font-setting {
	  width:250px;
  }
 .font-setting-button {
	 padding-bottom: 10px;
 }
}
