 /* ==========================================================================
  Tag Style
  ========================================================================== */

.label-tag {
  background: $lighter-gray;
  color: $gray;
  font-size: 14px;
  display: inline-block;
  border: 1px solid $light-gray;
  padding: 2px 5px 2px 8px;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
  font-weight: normal;
  color: #888;
  .tag-value {
    display: inline-block;
    padding: 0 3px 0 2px;
    font-weight: bold;
    color: $dark-gray;
  }
}

 /* ==========================================================================
  Storage Tagging Styles
  ========================================================================== */

.tag-selector {
  padding: 5px;
  margin-bottom: 10px;
  .scrollable-content {
    white-space: normal;
    .label-tag {
      display: inline-block;
      margin-top:5px;
      margin-right: 5px;
    }
  }
}

.tags-input {
  position: relative;
  padding: 0 5px 5px 5px;
  height: auto;
  margin-bottom: 10px; 
  cursor: pointer;
  white-space: normal;
  .label-tag {
    display: inline-block;
    margin-top:5px;
    margin-right: 5px;
  }
}

.search-options {
  .dropdown-menu.filter-menu {
    width: 500px;
    padding: 10px 10px 0;
    .form-group {
      label {
        font-weight: normal;
      }
    }
  }
  .btn-xs {
    margin-bottom: 5px;
  }
}

.btn-add {
  color: $gray;
  padding: 0;
  .fa:before {
    color: $rise-green;
  }
}
.btn-remove {
  color: $gray;
  padding: 0;
  .fa:before {
    color: #666
  }
}

.content-box-editable {
  min-height: 34px;
  position: relative;
  cursor: pointer;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  color: #555;
  .edit-icon {
    position: absolute;
    top: 6px;
    right: 12px;
  }
  .label-tag {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
  }
  .text-muted {
    line-height: 32px;
    margin:0;
    padding: 0 12px;
  }
}

.content-box-filters {
  background: #fcfcfc;
  padding: 10px 10px 5px;
  margin-top: 5px;
}

.select-tags {
  padding: 3px 3px 0;
  .label {
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.content-box-disabled {
  pointer-events: none !important;
  background: $light-gray !important;
}

.reboot-time {
  table.time-picker {
    display: inline-block;
    vertical-align: middle;
  }
  label, .checkbox {
    display: inline-block;
  }
  @media (max-width: 768px) {
    .checkbox {
      display: block;
    }
  }
}

.display-settings {
  #display-status {
    text-align: right;
    * {
      display: inline-block;
    }
  	.form-control {
  	  width: 120px;
  	  margin-right: 5px;
  	}
  	@media (max-width: 768px) {
      text-align: left;
  	  .form-control {
  	  	width: 100px;
  	  }
  	}
  }
  #monitor {
    margin-left: 20px;
    @media (max-width: 768px) {
      margin-left:0;
    }
  }
  @media (max-width: 768px) {
    #installed-buttons button {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

.offline {
  &:before {
    color:#e74c3c;
  }
}
.noninstalled {
  &:before {
    color:#444;
  }
}
.online {
  &:before {
    color:$rise-green;
  }
}

