.presentation-name {
	.form-control {
		width: 74%;
		@media (max-width: 768px) {
			width: 78%;
		}
		@media (min-width: 992px) {
			width:79%;
		}
		@media (min-width: 1200px) {
			width:82%;
		}
	}
	.control-label {
		width: 78px;
		float: right;
		margin-top: 5px;
	}
}