.storage-modal {

  /* ==========================================================================
     General Styles
     ========================================================================== */
  ul {
    /* Display & Box Model */
    padding: 0;
    /* Visual */
    list-style: none;
  }

  /* ==========================================================================
     Search Bar & Toggle Buttons
     ========================================================================== */
  .filter {
    padding: 10px 0;
  }

  .search {
    padding: 0px 0px 0px 15px;
  }

  /* ==========================================================================
     Rows
     ========================================================================== */

  div.row {
    margin-right: 0px;
  }
  /* ==========================================================================
     Buttons
     ========================================================================== */
  .commands {
    position: relative;
  }

  .storage-used-info {
    font-size: 10px;
    text-align: right;
    float: right;
  }

  .current-folder-icon .fa::before {
    color: $rise-green;
  }

  #store-modal {
    .overlay {
    z-index: $storage-store-overlay-zindex;
    background-color: #ffffff;
    }
  }

  /* ==========================================================================
     Uploader
     ========================================================================== */
  .inline-progress {
      margin-bottom: 0px;
  }

  .inline-cancel {
    float: right; 
    width: auto; 
    padding-left: 10px;
    text-align: center;
    cursor: pointer;
  }

  tbody tr:first-child td {
    border-top: none;
  }

  .panel table {
    margin-bottom: 0px !important;
  }

  .panel-heading {
    cursor: pointer;
  }

  /* ==========================================================================
  Thumbnail View
  ========================================================================== */
  /**
   * Single-column layout at mobile resolutions.
   */
  .thumbnails {
    display: none;
    cursor: pointer;
  }

  /* Clearfix */
  .thumbnails:after {
    clear: both;
    display: block;
    content: "";
  }

  .thumbnail {
    border: none;
  }
  .thumbnail .caption {
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .thumbnail:hover, .thumbnail.active {
    background-color: #f5f5f5;
  }

  .thumbnail.active:hover {
    background-color: #e8e8e8;
  }

  /* Media queries
  ========================================================================== */
  /**
   * Three-column layout at tablet resolutions.
   */
  @media (min-width: 768px) {
    .thumbnail {
      /* Positioning */
      float: left;
      /* Display & Box Model */
      width: 33.33333%;
      padding-left: 5px;
      padding-right: 5px;
    }
    .thumbnail:nth-child(3n+1) {
      clear: left;
    }
  }

  /**
   * Six-column layout at desktop resolutions.
   */
  @media (min-width: 992px) {
    .thumbnail {
      width: 16.66667%;
    }
    .thumbnail:nth-child(3n+1) {
      clear: none;
    }
    .thumbnail:nth-child(6n) {
      padding-right: 0;
    }
    .thumbnail:nth-child(6n+1) {
      /* Positioning */
      clear: left;
      /* Display & Box Model */
      padding-left: 0;
    }
  }
  .current-folder {
    line-height: 43px;
  }
  .form-group {
    margin-bottom: 10px;
  }

  .non-clickable-file {
    cursor: default;
    text-decoration: none;
  }
}

 /* ==========================================================================
  Storage Tagging Styles
  ========================================================================== */

.tag-selector {
  padding: 5px;
  margin-bottom: 10px;
  .input-group {
    margin-bottom: 5px;
  }
}

.search-options {
  .dropdown-menu.filter-menu {
    width: 500px;
    padding: 10px 10px 0;
    .form-group {
      label {
        font-weight: normal;
      }
    }
  }
  .btn-xs {
    margin-bottom: 5px;
  }
}



.label-tag {
  background: #f2f2f2;
  font-size: 14px;
  display: inline-block;
  color: #555;
  border: 1px solid #f2f2f2;
  a {
    color: $gray;
    .fa:before {
      margin-left: 5px;
    }
    &:hover {
    }
  }
  span {
    margin-right: 5px;
    color: #555;
    font-weight: normal;
  }
}

.btn-add {
    color: $gray;
    padding: 0;
    .fa:before {
      color: $rise-green;
    }
  }


  .btn-remove {
    color: $gray;
    padding: 0;
    .fa:before {
      color: #666
    }
  }

.tag-settings {
  background: #FFF;
  .active-tags {
    margin: 15px 0 10px;
    &.content-box {
      padding:5px;
      padding-bottom: 0;
      max-height: 150px;
      cursor: pointer;
      min-height: 100px;
      &:hover {
        background:#fcfcfc;
      }
    }
  }
  .label-tag {
    margin:0 0 5px 5px;
  }
  .bg-warning {
    padding: 5px;
    margin-top: 5px;
    display: block;
    border-radius: 3px;
  }
  
  .button-wrapper {
    margin-top: 5px;
  }
  .hidden-form {
    margin-top: 10px;
  }
  .content-box {
    margin-bottom: 5px;
    .scrollable-content {
      margin-top: 5px;
      padding: 0 5px 0;
    }
    .search-bar {
      input {
        border:none;
        border-bottom: 1px solid #d4d4d4;
        border-radius: 0;
        margin-bottom: 5px;
        background: none;
      }
    }
    section {
      padding: 10px;
      border-bottom: 1px solid #e6e6e6;
      &:last-child {
        border-bottom: none;
      }
    }
    .btn-group {
      margin-left: 5px;
    }
    input {
    }
  }
  .input-short {
    max-width: 40px;
  }
  .form-inline > * {
    @media (max-width: 768px) {
      display: inline-block;  
    }
  }
  .control-label {
    @media (max-width: 768px) {
      margin: 5px 0;
    }
  }
  .hidden-option {
    display: none;
  }
  .hidden-form {
    label {
      font-weight: 400;
    }
  }
  .weekdays-group {
    label {
      display: block;
    }
  }
  #recurrence-options {
    label {
      margin-right: 20px;
    }
    @media (max-width: 768px) {
      label {
        margin-right: 10px;
      }
    }
  }
}



