.panel .panel__header {
  font-size: 1.8em;
  margin-top: 0.2em;
}

.panel .panel__sub-header {
  font-size: 1.4em;
  font-weight: 400;
  color: #555;
}

.store-footer li >a {
  padding: 8px 0;
  display: block;
}

.form-quantity-selector {
	.form-control {
		width: 50px;
	}
	.form-control[readonly] {
		cursor: pointer;
		background-color: #FFF;
	}
	.form-group {
		margin:0;
	}
}

.display-licensing-modal {
  	.scrollable-list {
    	max-height: calc(100vh - 440px);
  	}
}

.alert.alert-animated.ng-hide-add {
}

.alert.alert-animated.ng-hide-add-active {
}

.alert.alert-animated.ng-hide-remove {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
    opacity: 0;
}

.alert.alert-animated.ng-hide-remove-active {
	opacity: 1;
}

